body {
  color: #007BFF;
  font-family: Arial Rounded MT Bold;
}

h1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

h2 {
  color: #B6D9FF;
  margin-top: 40px;
  margin-bottom: 10px;
}

input[type="number"] {
  font-family: Arial Rounded MT Bold;
  font-size: 1.0em;
  margin-right: 8px;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  margin-bottom: 20px;
}

.error {
  color: #FF3131;
  margin-top: 10px;
}

.need-margin-top {
  margin-top: 8px;
}

.need-blue-color {
  color: #007BFF;
}

.need-white-color {
  color: white;
}

.need-red-color {
  color: #FF8300;
}

.need-blue-background {
  background-color: #007BFF;
}

.first-h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}